@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Gudea&display=swap');

/* font-family: 'Gudea', sans-serif; */
body {
  font-family: 'Chewy', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 207, 207);
}

.header {
  text-align: center;
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 40px;
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  border: 4px solid #001219;
  padding: 4px;

}

.btn {
  width: 150px;
  height: 150px;
  color: whitesmoke;
  background-color: #001219;
  font-size: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  grid-area: 3/3/4/4;
}

.btn:hover {
  filter: opacity(.7)
}

.footer {
  text-align: center;
  font-size: 30px;
  margin: 50px
}